body {

    margin: 0;

    background: #101820;

    color: white;

    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

}

header {

    margin-top: 120px;

}

h1 {

    color: #32c86e;

    font-size: 56px;

    margin-bottom: 20px;

}

p {

    font-size: 24px;

    color: #d0d0d0;

}